window {
  font-family: "Inter Variable", sans-serif;
  /* font-family: "Fira Code", sans-serif; */
  font-size: 15px;
  background-color: rgba(30, 30, 30, 0.8); /* Opacity 0.8 */
  border: 2px solid #90cef4;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

#input {
  padding: 10px 14px;
  background-color: rgba(30, 30, 30, 0.9);
  color: #90cef4;
  border: 2px solid rgba(144, 206, 244, 1);
  outline: none;
  color: #90cef4;
}

#input:focus {
  border: 1px solid rgba(144, 206, 244, 1);
}

#inner-box {
  background-color: transparent;
}

#outer-box {
  background-color: transparent;
}

#scroll {
}

#text {
  color: #cdd6f4;
  padding: 4px;
}

#entry {
  padding: 10px 14px;
}

#entry:selected {
  background-color: #90cef4;
}

#entry:selected #text {
  color: #000000;
}

#img {
  margin-right: 10px;
}
