[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[pull]
	rebase = true
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	cam = "commit -am"
	df = diff
	lg = log --oneline --graph --decorate --all
	sw = switch
	swc = switch -c
	sw-track = "!f() { git switch -c $1 --track origin/$1; }; f"
