.idea
.vscode

/.history
/theme/backgrounds
/theme/icons

/dots/.config/niri/dms/*
!/dots/.config/niri/dms/binds.kdl
!/dots/.config/niri/dms/windowrules.kdl
/dots/.config/niri/config.kdl.*

/dots/.config/alacritty/dank-theme.toml
/dots/.config/wofi/style.css
/dots/.config/ghostty/themes

/dots/.config/yazi/flavors/*
!/dots/.config/yazi/flavors/material-vivid.yazi/
/dots/.config/yazi/flavors/material-vivid.yazi/*
!/dots/.config/yazi/flavors/material-vivid.yazi/flavor.toml
!/dots/.config/yazi/flavors/material-vivid.yazi/tmtheme.xml
/dots/.config/yazi/plugins/*
!/dots/.config/yazi/plugins/smart-tab.yazi/
!/dots/.config/yazi/plugins/smart-tab.yazi/main.lua
!/dots/.config/yazi/plugins/smart-tab.yazi/README.md

/issues
