.idea
.vscode

/backgrounds
/_old
/.history
/icons

home/.config/niri/dms/*
!home/.config/niri/dms/binds.kdl
!home/.config/niri/dms/windowrules.kdl
home/.config/niri/config.kdl.*

home/.config/alacritty/dank-theme.toml
home/.config/wofi/style.css
home/.config/ghostty/themes
