binds {
    Mod+B hotkey-overlay-title="Default Web Browser: Open" { spawn "dms" "ipc" "call" "defaultApp" "browser"; }
    Mod+Ctrl+Escape hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+E hotkey-overlay-title="Default File Manager: Open" { spawn "dms" "ipc" "call" "defaultApp" "fileManager"; }
    Mod+Shift+V hotkey-overlay-title="Clipboard: Toggle" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Mod+space hotkey-overlay-title="Spotlight Bar: Toggle" { spawn "dms" "ipc" "call" "spotlight-bar" "toggle"; }
    Super+Alt+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+Ctrl+Down { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up { move-window-up-or-to-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Shift+D { spawn "wofi-niri-workspaces.sh"; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+Ctrl+Left { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+Right { move-column-right-or-to-monitor-right; }
    Mod+Left { focus-column-or-monitor-left; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+Shift+Left { consume-or-expel-window-left; }
    Mod+Shift+Right { consume-or-expel-window-right; }
    Mod+Shift+B { spawn "wofi-browser.sh"; }
    Mod+T hotkey-overlay-title="Open a Terminal: wezterm" { spawn "wezterm"; }
    Mod+D hotkey-overlay-title="Toggle Overview" { toggle-overview; }
}
