@define-color bg          {{ colors.surface.default.rgba | set_alpha: 1 }};
@define-color bg-input    {{ colors.surface.default.rgba | set_alpha: 0.9 }};
@define-color accent      {{ colors.primary.default.rgba | set_alpha: 1.0 }};
@define-color text        {{ colors.on_surface.default.rgba | set_alpha: 1.0 }};
@define-color text-active {{ colors.on_primary.default.rgba | set_alpha: 1.0 }};
@define-color shadow      rgba(0, 0, 0, 0.4);

window {
  font-family: "JetBrainsMono", sans-serif;
  font-size: 15px;
  background-color: @bg;
  border: 2px solid @accent;
  box-shadow: 0 8px 24px @shadow;
}

#input {
  padding: 10px 14px;
  background-color: @bg-input;
  color: @accent;
  border: 2px solid @accent;
  outline: none;
  margin-bottom: 10px;
  border-radius: 0;
}

#input:focus {
  border: 1px solid @accent;
}

#inner-box {
  background-color: transparent;
}

#outer-box {
  background-color: transparent;
  margin: 10px;
}

#scroll {
}

#text {
  color: @text;
  padding: 4px;
}

#entry {
  padding: 10px 14px;
}

#entry:selected {
  background-color: @accent;
}

#entry:selected #text {
  color: @text-active;
}

#img {
  margin-right: 10px;
}
