[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord
Exec=flatpak run org.chromium.Chromium "--app=https://discord.com/channels/@me" "--profile-directory=Default"
Terminal=false
Type=Application
Icon=/home/rene/.local/share/applications/icons/Discord.png
StartupNotify=true
